<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shizuru">
	<style>
		h1{ font-family: 'Shizuru',cursive;}
	</style>
	<meta charset ="UTF-8">
	<title>Oliabka's journal | Socials</title>
	<link rel="stylesheet" href="index.css"
</head>
  
<body class="socials-body">
	<nav>
		<ul class = "main_menu">
			<li>  <a class ="main" href = "/home"><%= __('home_link') %></a> </li>
			<li>  <a class ="main" href = "/socials"><%= __('socials_link') %></a> </li>
			<li> <div class = "dropdown"> <a class = "main" href = "/now"><%= __('now_link') %></a> 
				<ul class ="dropdown-content">
					<li> <a href="/now#photos-link"><%= __('photos') %></a><li>
					<!-- <li> <a href="/now#tik-toks-link"><%= __('tik-toks') %></a><li> -->
					<li> <a href="/now#videos-link"><%= __('videos') %></a><li>
				</ul>
				</div>
			</li>
			<li>  <a class ="main" href = "/message"><%= __('message_link') %></a> </li>
			<li><%= __('user') %>: <%=user%></li>
			<li> 
				<form action="/logout?_method=DELETE" method="POST">
				<button class="logout-button" type="submit"><%= __('logout_link') %></button>
				  </form>
			</li>
		</ul>  
	</nav>
	<h1><%= __('socials_header') %></h1>
	<h2><%= __('socials_sub_header') %></h2>

	<div class = "footer"><p><a href="#" id="en">en</a> | <a href="#" id="ru">ru</a></p></div>
	<script src = "locale.js"></script>
	<div class = "bottom-gif"><img src="images/fluffy-cow.gif"></div>
</body>

</html>